@import 'reset';

:root {
  --dark-orange: #ff684f;
  --light-orange: #ff806c;
  --pompadour: #582b42;
  --apricot: #feffea;
  --shadow: #ff5344;
  --charcoal: #423e42;
  --tawny: #63354e;
  --revolver: #25162b;
  --vulcan: #1b0c0e;
  --alabaster: #fcfcfc;
  --watermelon: #ff406a;
  --seashell: #e0e0e0;
  --emerald: #4ec289;
  --vulcan-img: url(../assets/img/colors/vulcan.png) repeat;

  --bg-gradient: {
    background:
      linear-gradient(to left, color(var(--dark-orange) a(95%)), color(var(--light-orange) a(89%)), color(var(--dark-orange) a(95%))),
      url(../assets/img/pattern3.png) repeat;
  }

  --gradient-dark: {
    background:
      linear-gradient(to bottom, var(--tawny), var(--revolver)),
      linear-gradient(to right, var(--revolver), color(var(--tawny) a(50%)), var(--revolver));
  }

  --watermelon-gradient: {
    background: linear-gradient(to right, color(var(--watermelon) a(80%)), color(var(--watermelon) a(60%)), color(var(--watermelon) a(80%)));
  }

  --button: {
    margin-top: 1.5%;
    font-family: bloc;
    font-size: 3rem;
    position: absolute;
    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

body {
  font-size: 1.6rem;
  font-family: calibri;
  overflow-x: hidden;

  & p {
    line-height: 2.6rem;
  }
  /* overflow-y: hidden; */
}

/*--------------IVF SECTION------------------------*/

.ivf {
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  background: url(../assets/img/pattern5.png) repeat, linear-gradient(to right, color(#42bf82 a(100%)), color(var(--emerald) a(100%)), color(#42bf82 a(100%)));

  &-content {
    width: 100%;
    height: 100;
  }

  &-titel {
    display: flex;
    margin-bottom: 7rem;
  }

}

.step {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  background: url(../assets/img/pattern5.png) repeat, linear-gradient(to right, color(#42bf82 a(100%)), color(var(--emerald) a(100%)), color(#42bf82 a(100%)));
  align-items: center;
  transform: translateX(100%);
  opacity: 0;
  transition: all 80ms ease-out;
  padding-top: 2rem;

  &-show {
    opacity: 1;
    transform: translateX(0);
  }

  &-title {
    font-family: bloc;
    font-size: 4rem;
    color: #582b42;
    margin-bottom: 2rem;
    text-shadow: .25rem 0 #2da569;
  }
}

.left-side {
  order: 1;
  position: relative;
  height: 100%;

  & .hand-pic {
    margin-top: 30%;
    width: 100%;
    z-index: 5;
  }

  &-ovum {
    z-index: -1;
    opacity: .9;
    margin-right: 14.5rem;
  }

  &-ovum-wrap {
    width: 100%;
    height: 4rem;
    position: sticky;
    top: 35%;
    display: flex;
    justify-content: flex-end;
  }
}

.right-side {
  order: 2;
  margin-right: 5rem;
  display: flex;
  flex-flow: column;
  width: 36%;

  & p {
    font-size: 2.2rem;
    font-family: calibri;
    font-weight: lighter;
    color: #582b42;
    line-height: 3rem;
  }
}

.marked-text {
  color: var(--apricot);
  font-weight: bold;
}

.step4 {
  visibility: hidden;
}

.sticky {
  position: sticky;
  top: 0;
}

/*--------------IVF SECTION ENDING------------------------*/

.welcome {
  @apply --bg-gradient;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;

  &-header {
    transform-origin: center top;
    margin-top: -10rem;
    margin-bottom: 2%;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-title {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &-are {
    font-family: pacifico;
    font-size: 11.5rem;
    color: var(--pompadour);
    text-shadow: .4rem 0 var(--shadow);
    margin-bottom: .3rem;
    margin-left: -.7rem;
  }

  &-youan {
    font-family: calibri;
    font-weight: bold;
    font-size: 6.4rem;
    color: var(--apricot);
    text-shadow: .3rem 0 var(--shadow);
    margin-left: -.5rem;
  }

  &-educated {
    font-family: bloc;
    font-size: 9rem;
    color: var(--pompadour);
    text-shadow: .2rem 0 var(--shadow);
    margin-top: -.5rem;
  }

  &-baby {
    font-family: bloc;
    font-size: 16rem;
    color: var(--apricot);
    text-shadow: .8rem 0 var(--shadow);
    margin-top: -1.5rem;
    margin-right: -1.3rem;
  }

  &-btn {
    @apply --button;
    z-index: 5;
    width: 25rem;
    height: 6rem;
    color: var(--dark-orange);
    background: var(--pompadour);

    &-wrap {
      width: 25rem;
      height: 8rem;
      bottom: 3rem;
      position: absolute;
    }
  }
}

.photo {

  &-take {
    @apply --button;
    opacity: 0;
    left: 0;
    background: var(--emerald);
    color: var(--alabaster);

    &-btn {
      @apply --button;
      @apply --watermelon-gradient;
      transform: scale(.2);
      width: 20rem;
      height: 7rem;
      color: var(--vulcan);
      position: absolute;
      bottom: 0;
      box-shadow: 1px 3px 2px var(--vulcan);
      left: calc(50% - 10.3rem);
      z-index: 2;
      opacity: 0;
    }

    &-done {
      background: none;
      box-shadow: none;
      font-size: 4rem;
      color: var(--watermelon);

      &:hover {
        cursor: auto;
      }
    }
  }

  &-upload {
    @apply --button;
    opacity: 0;
    right: 0;
    background: var(--alabaster);
    color: var(--emerald);
  }
}

.flash {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 15;
}

.baby {
  width: 100%;
  height: 100%;

  &-container {
    z-index: 1;
    position: absolute;
    transition-duration: 80ms;
    width: 85px;
    height: 190px;
  }

  &-wrap {
    height: 19rem;
    margin: 2%;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &-face {
    filter: brightness(110%);
    position: absolute;
    top: .5rem;
    left: .9rem;
    width: 6.1rem;
    height: 6.1rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-video {
    width: 200%;
    height: 200%;
  }
}

.speech-balloon {
  position: absolute;
  left: calc(100% - 10rem);
  top: -2rem;
  width: 17.2rem;
  height: 11.8rem;
  background: url(../assets/img/2x/balloon-text@2x.png) no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  font-size: 3.2rem;
  font-family: bloc;
  color: var(--charcoal);
}

.intro {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;

  &::before {
    @apply --bg-gradient;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -4;
  }
}

.woman {
  position: absolute;
  left: 2.7rem;
  z-index: 5;

  &-wrap {
    margin: 0 auto;
    position: relative;
    bottom: 20rem;
    width: 30rem;
    height: 10rem;
    display: flex;
    justify-content: center;
  }

  &-shadow {
    position: absolute;
    left: 2.7rem;
    top: .7rem;
  }
}

.pipe {
  clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  width: 100%;
  height: 150vh;
  margin-top: -15%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: relative;

  &::before {
    @apply --gradient-dark;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: -1;
  }

  &-main {
    height: 60%;
    margin-top: -15%;

    &-img {
      height: 100%;
      width: auto;
    }
  }

  &-sub {
    position: relative;
    width: 100%;
    height: 40%;
    margin: -3%;
    z-index: -1;
    display: flex;
    justify-content: center;

    &-right, &-left {
      width: 20rem;
      display: flex;
      flex-flow: column;
    }

    &-left {
      align-items: flex-start;

      &::before {
        content: '';
        position: absolute;
        width: 94px;
        height: 49px;
        background: url(../assets/img/pipe/zaad-box.png) no-repeat 100% 100%;
        left: 0;
        /* bottom: 30%; */
        top: 27rem;
        z-index: 1;
      }
    }

    &-right {
      align-items: flex-end;

      &::after {
        content: '';
        position: absolute;
        width: calc(50% - 55.3rem);
        height: 12px;
        background: var(--vulcan-img);
        opacity: .9;
        right: 35rem;
        top: 29rem;
      }

      &::before {
        content: '';
        position: absolute;
        width: 2.3rem;
        height: 3.8rem;
        background: url(../assets/img/pipe/pipe-90-degrees.png) no-repeat;
        top: 29rem;
        right: 33rem;
        z-index: 1;
        transform: rotateX(180deg);
      }

      &-down {
        width: 12px;
        height: 100%;
        background: var(--vulcan-img);
        opacity: .9;
        position: absolute;
        right: 33.1rem;
        top: 32rem;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 253px;
      height: 64px;
      bottom: -10%;
      right: 20rem;
      background: url(../assets/img/pipe/eicell-pipe.png) no-repeat;
    }
  }

  &-tube {

    &-left {
      margin-top: -1rem;
      z-index: -1;

      &::after {
        content: '';
        position: absolute;
        width: calc(50vw - 20rem);
        height: 12px;
        background: var(--vulcan-img);
        opacity: .9;
        left: 0;
        top: 29.3rem;
      }
    }

    &-right {
      margin-top: -1rem;
      margin-right: -.5rem;
      z-index: -1;
      transform: rotateY(180deg);
    }
  }

  &-glass {

    &-right {
      position: relative;
      overflow: hidden;
      align-self: flex-end;
      margin-right: -5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &-img {
        margin-top: -.5rem;
      }
    }

    &-left {
      position: relative;
      overflow: hidden;
      align-self: flex-start;
      margin-left: -5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-img {

    &-right {
      transform: rotateY(180deg);
      margin-left: 5rem;
    }

    &-left {
      margin-right: 5rem;
    }
  }
}

.baby-half {
  position: absolute;
  top: -7rem;
  opacity: .2;
  transition: all 5s ease-in-out;

  &-done {
    top: 100%;
    opacity: 1;
  }
}

.fertility {
  position: relative;
  height: 100vh;
  padding: 6rem 3rem;
  margin-top: -10rem;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--alabaster);
  }

  &-title {
    padding: 3rem;
    display: flex;
    align-items: flex-end;

    &-first {
      @apply --watermelon-gradient;
      font-size: 6rem;
      font-family: bloc;
      color: white;
      padding: .5rem 2rem;
      margin-right: 1rem;
      display: inline-block;
    }

    &-baby {
      font-family: pacifico;
      font-size: 10rem;
      text-shadow: .8rem 0 #e6e6e6;
      color: var(--pompadour);
    }
  }

  &-desc {
    width: 58rem;
    font-size: 2.2rem;
    margin: 4rem;
  }
}

.fertility-img {
  position: absolute;
  /* width: 50%; */
  height: 50%;
  transform: rotate(-45deg);

  &-left-top {
    width: 40%;
    left: 0;
    top: 0;
  }

  &-left-bottom {
    left: 0;
    bottom: 0;
  }

  &-right-top {
    right: 0;
    top: 0;
  }

  &-right-bottom {
    right: 0;
    bottom: 0;
  }

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }

  &-wrap {
    width: 50rem;
    height: 50rem;
    position: absolute;
    bottom: 0;
    margin-bottom: -30rem;
  }
}

.pre-wheel {
  position: absolute;
  right: 21rem;
  top: 0;

  &::after {
    content: '';
    position: absolute;
    width: 1.3rem;
    height: 61.4vh;
    background: linear-gradient(to bottom, var(--revolver) 50%, color(var(--watermelon) a(70%)) 50%);
    left: calc(50% - .6rem);
    top: 13rem;
  }
}

.wheel {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transform: rotate(45deg);
  z-index: 5;

  &-wrap {
    width: 34rem;
    height: 34rem;
    padding: 2rem;
    background: var(--alabaster);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 16rem;
    top: calc(50% - 17rem);
    /* opacity: 1; */
    /* transform: translateY(-200%); */

    &-bg {
      position: absolute;
      width: 35rem;
      height: 35rem;
      background: linear-gradient(0deg, var(--pompadour) 85%, var(--watermelon) 15%);
      border-radius: 50%;
      z-index: -1;
      transition: all .5s ease-in-out;
      /* transform: rotate(90deg), translateY(-200%); */
      transform: rotate(90deg);
      box-shadow: 5px -5px 3px #ccc;
    }
  }

  &-text {
    font-family: bloc;
    font-size: 3.5rem;
    color: var(--pompadour);
    transform: rotate(-45deg);
  }

  &-part {
    position: absolute;
    width: 48%;
    height: 48%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &-active {
      @apply --watermelon-gradient;
    }
  }

  &-left {

    &-top {
      top: 0;
      left: 0;
      padding-left: 2rem;
      padding-top: 2rem;
    }

    &-bottom {
      bottom: 0;
      left: 0;
      padding-left: 2rem;
      padding-bottom: 2rem;
    }
  }

  &-right {

    &-top {
      top: 0;
      right: 0;
      padding-right: 2rem;
      padding-top: 2rem;
    }

    &-bottom {
      bottom: 0;
      right: 0;
      padding-right: 2rem;
      padding-bottom: 2rem;
    }
  }
}

.aging {
  width: 100%;
  padding: 15rem 3rem;
  position: relative;

  background: url(../assets/img/pattern5.png) repeat, linear-gradient(to right, color(white a(100%)), color(white a(90%)), color(white a(100%)));

  &-title {
    width: 30rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 5rem;
    margin-left: 10rem;

    &-age {
      font-family: bloc;
      color: var(--watermelon);
      font-size: 10rem;
      text-shadow: .8rem 0 #e6e6e6;
    }

    &-vs {
      font-family: bloc;
      color: var(--vulcan);
      font-size: 8rem;
      margin-left: 6rem;
      text-shadow: .8rem 0 #e6e6e6;
    }

    &-ovum {
      font-family: pacifico;
      color: var(--pompadour);
      font-size: 8rem;
      margin-top: -2rem;
      text-shadow: .8rem 0 #e6e6e6;
    }
  }

  &-pipe {
    height: 100%;
    width: 35rem;
    position: absolute;
    right: 17rem;
    top: 0;
  }

  &-pipeUp {
    background: url(../assets/img/2x/pipe_2@2x.png) no-repeat;
    height: 160rem;
    width: 44rem;
    position: absolute;
    right: 10.8rem;
    top: -18rem;
    bottom: -10rem;
    z-index: 5;
  }
}

.aging-art {
  margin: 0 0 15rem 3rem;
  opacity: .2;

  &-title {
    font-family: bloc;
    color: var(--watermelon);
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &-markedBruin {
    color: var(--pompadour);
  }

  &-desc {
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--pompadour);
    width: 50rem;

    &-keyword {
      color: var(--watermelon);
      font-weight: bold;
    }
  }
}

.cell-face {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100;

  &-container {
    opacity: 0;
    position: sticky;
    width: 20rem;
    height: 20rem;
    top: 20%;
    transform: scale(.15);
  }

  &-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50%;
  }
}

.freeze {
  padding: 5rem 4rem;
  position: relative;

  &-title {
    font-family: bloc;
    color: var(--vulcan);
    font-size: 8rem;
  }
}

.freeze-art {
  margin: 3rem 1rem;

  &-title {
    font-family: bloc;
    color: var(--watermelon);
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  &-desc {
    font-size: 2rem;
    width: 46rem;
    margin-bottom: 2rem;
    line-height: 2.3rem;
    color: var(--pompadour);

    &-keyword {
      color: var(--emerald);
      font-weight: bold;
    }
  }

  &-2 {
    margin: 10rem 0;
  }
}

.fridge {
  z-index: 5;

  &-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 52%;
    height: 100%;
  }

  &-ovum {
    /* z-index: -1; */
    opacity: .7;
    margin-right: 16rem;
  }

  &-ovum-wrap {
    z-index: -1;
    width: 100%;
    height: 4rem;
    position: sticky;
    top: 30%;
    display: flex;
    justify-content: flex-end;
  }
}

.outro {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: relative;

  &::before {
    @apply --gradient-dark;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  &-pipes {
    z-index: 5;
    width: 67%;
    height: calc(100% + 3rem);
    position: absolute;
    right: 0;
    top: -2.5rem;
  }
}

.ending {
  @apply --bg-gradient;
  height: auto;
  width: 100%;
  /* display: flex; */
  /* flex-flow: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  position: relative;
  overflow: hidden;

  &-woman {
    z-index: 5;
    top: 10rem;
    /* left: -2.5rem; */
    /* left: 50%; */
    transform: rotate(180deg);
  }

  &-header {
    margin-top: -5%;
    margin-bottom: 2%;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-title {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &-are {
    font-family: pacifico;
    font-size: 9.5rem;
    color: var(--pompadour);
    text-shadow: .4rem 0 var(--shadow);
    margin-bottom: .3rem;
    margin-left: -.7rem;
  }

  &-youan {
    font-family: calibri;
    font-weight: bold;
    font-size: 4.4rem;
    color: var(--apricot);
    text-shadow: .3rem 0 var(--shadow);
    margin-left: -.5rem;
  }

  &-educated {
    font-family: bloc;
    font-size: 7rem;
    color: var(--pompadour);
    text-shadow: .2rem 0 var(--shadow);
    margin-top: -.5rem;
  }

  &-baby {
    font-family: bloc;
    font-size: 14rem;
    color: var(--apricot);
    text-shadow: .8rem 0 var(--shadow);
    margin-top: -1.5rem;
    margin-right: -1.3rem;
  }

}

.palmSection {
  width: 100%;
  margin-top: 15rem;
  background: url(../assets/img/1x/ending-fire-full.png) no-repeat;
  background-size: cover;

  & .palm-place {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;

    .graduated-sign {
      display: flex;
      justify-content: center;
    }

  }
}

.faded {
  opacity: 0;
}

.clear {
  opacity: 1;
}

.hidden {
  display: none;
}
